<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Formulario</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    
    <h1>Formulario de login</h1>
    <form action="http://localhost:4000/login" method="POST">
        
        <!-- //coincidir con los nombre de los parametros-->
        <label for="user">Usuario: </label>
        <input name="user">

        <label for="pswd">Password: </label>
        <input name="pswd">

        <input type="submit" value="send">

    </form>

</body>
</html>